*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container{
    position: relative;
}

#start-button {
    position: absolute;
    top: 404px;
    left: 110px;
}

#leaderboard-button {
    position: absolute;
    top: 404px;
    left: 519px;
}

#menu_canvas {
    border:1px solid #000000;
    width: 700px;
    height: 500px;
    /* margin: auto;
    position: absolute;
    top: 7%;
    left:30%; */
}
/* #main_logo{
    border:1px solid #000000;  
    margin: auto;
    position: absolute;
    top: 14%;
    left:42%;
}
#btn_play{
    border:1px solid #000000;  
    margin: auto;
    position: absolute;
    top: 67%;
    left:50%;
}
#btn_options{
    border:1px solid #000000;  
    margin: auto;
    position: absolute;
    top: 60%;
    left:50%;
} */
/* tsi */
/* #canvas{
    border:5px solid black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;    
} */



/* SCORE DIV */
#currentScore{
    position: absolute;
    top: 0%;
    right: 10%;
}


/* Leaderboard CSS*/

#leaderBoardMenu {
    width: 70%;
    height: auto;
    float: inherit;
    top: 300px;
    left: 300px;
  }
  
  .row {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #AFAFAF;
  }
  
  .name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
  }
  
  .score {
    position: relative;
    display: inline-block;
    width: 25%;
  }
  
  .row:nth-child(1) {
    background: gold;
  }
  
  .row:nth-child(2) {
    background: #c0c0c0;
  }
  
  .row:nth-child(3) {
    background: #cd7f32;
  }
  
  /* End of Leaderboard CSS */

  /* start paws_menu */
  .paws_menu {
      display: flex;
      flex-direction: row;
      position: fixed;
      color: #FFFFFF;
      justify-content: center;
      top: 10;
      bottom:10;
      left: 0;
      right: 0;
      border-radius: 5px;
      z-index: 10;
  }

  .btn {
    margin-left: 10px;
    width: 100px;
    height: 10vh;
    border-radius: 10px;
  }