/* Butcherman font */
@import url("https://fonts.googleapis.com/css2?family=Butcherman&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Butcherman", cursive;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container{
    position:absolute;

}
.canvas-container canvas{
  object-fit: contain;
}

#start-button button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("/img/UI/TextBTN_Medium.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  font-size: x-large;
  width: 210px;
  height: 82px;
  text-align: center;
  margin: -25px 0 0 -105px;
}

#leaderboard-button button {
  position: absolute;
  margin: 0 -20px;
  top: 75%;
  left: 50%;
  background-image: url("/img/UI/TextBTN_Medium.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  font-size: larger;
  width: 140px;
  height: 55px;
  text-align: center;
  margin: -25px 0 0 -70px;
}

#menu_canvas {
  border: 1px solid #000000;
  width: 80vw;
  height: 80vh;
  /* margin: auto;
    position: absolute;
    top: 7%;
    left:30%; */
}
/* #main_logo{
    border:1px solid #000000;  
    margin: auto;
    position: absolute;
    top: 14%;
    left:42%;
}
#btn_play{
    border:1px solid #000000;  
    margin: auto;
    position: absolute;
    top: 67%;
    left:50%;
}
#btn_options{
    border:1px solid #000000;  
    margin: auto;
    position: absolute;
    top: 60%;
    left:50%;
} */
/* tsi */
/* #canvas{
    border:5px solid black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;    
} */

/* SCORE DIV */
#currentScore {
  position: absolute;
  top: 0%;
  right: 10%;
}

/* Leaderboard CSS*/

#leaderBoardMenu {
  position: absolute;
  display: none; 
  width: auto; 
  height: auto; 
  top:  -1%;
  left: 0%;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0,0,0,0.5);*/
  z-index: 2; 
  cursor: pointer; 
  font-family: 'Butcherman', cursive;
  text-align: center;
  background: no-repeat;
  background-image: url("/img/UI/Black-module.png");
  background-position: 50%;
  background-size: 80%;
}

#leadGroup{
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


.name {
  position: relative;
  display: inline-block;
  width: 25%;
  font-family: 'Butcherman', cursive;
  text-align: center;
  line-height: 45px;
  color: rgb(0, 0, 0);
}

.leadtitle {
  justify-items: center;
  font-family: "Butcherman", cursive;
  text-align: center;
  color: orange;
}
.row {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50%;
}

.placement {
  position: relative;
  display: inline-block;
  width: 5%;
  color: rgb(255, 255, 255);
}

.score {
  position: relative;
  display: inline-block;
  width: 5%;
}

.row:nth-child(2) {
  color: gold;
  position: relative;
  display: inline-block;
}

.row:nth-child(3) {
  color: #c0c0c0;
  position: relative;
  display: inline-block;
}

.row:nth-child(4) {
  color: #cd7f32;
  position: relative;
  display: inline-block;
}

/* .cyclic_input {
  float: left;
  padding: 1rem;
  font-size: 5rem;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */

/* .cyclic_input:before,
.cyclic_input:after {
  display: block;
  position: absolute;
  left: 50%;
  font-size: 1rem;
  transform: translateX(-50%);
}

.cyclic_input:before {
  content: "▲";
  top: 0;
}

.cyclic_input:after {
  content: "▼";
  bottom: 0;
}

#cy-input {
  visibility: hidden;
} */

/* End of Leaderboard CSS */

/* start paws_menu */
.paws_menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  color: #ffffff;
  justify-content: center;
  top: 10;
  bottom: 10;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 10;
}

.btn {
  margin-left: 10px;
  width: 100px;
  height: 10vh;
  border-radius: 10px;
}

/* Count_down CSS */
#count_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50;
  right: 10;
  border-radius: 5px;
  z-index: 99999;
}
.text_count {
  font-size: 70px;
  font-weight: 700;
  text-shadow: 0.3rem 0.3rem rgba(black, 0.7);
  color: red;
}
/* Count_down CSS END */
/* Game Over Screen */
#gameover_background img{
object-fit:contain;
max-width: 100%;
height: auto;
margin-top: 20px;
}


#gameover_background {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 21000;
}


#gameover-screen {
  /* margin-top: 50px; */
 position: absolute; 
  /* display: flex;
  align-items: center;
  justify-items: right;
  flex-direction: column; */
  text-align: center;
  font-family: "Butcherman", "cursive";
  outline: none;
  border: 0%;
  max-width: 100%;
  height: auto;
  top: 13%;
  right: 15%;
  left: 10%;
  z-index: 20000;
}
#youwin-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 21000;
}
h1.gameover {
  color: yellow;
}
#game-over-buttons button {
  font-size: 30px;
  margin-left: 5%;
  top: 20%;
  font-size: 50px;
  font-family: "Butcherman", "cursive";
  border-radius: 10px;
  color: yellow;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  border: none;
}
::placeholder{
  color: yellow;
  font-size: 30px;
  font-family: "Butcherman", "cursive";
}
#input_background img{
  object-fit: scale-down;
  max-width: 60%;
  height: 150px;
  position: relative;
}

#input_div {
  position: absolute;
  bottom: 25%;
  right:36%;
  z-index: 900;
}
.hide {
  visibility: hidden;
}
#xuit:hover {
  background-color: black;
  transition-duration: 0.2s;
}

#username {
  padding: 12px 3px 12px 5px;
  font-size: 18px;
  text-align: center;
  background: #1f1f1f;
  outline: none;
  color: yellow;
  width: 50%;
  border: none;
  margin-bottom: 20px;
}
.gameover {
  font-size: 50px;
}
        
#player_details {
  color: white;
}

@media only screen and (max-width: 768px) {
  #input_div {
    position: absolute;
    bottom: 25%;
    right:25%;
    z-index: 900;
  }
} 

@media only screen and (max-width: 600px) {
  #input_div {
    position: absolute;
    bottom: 20%;
    right:20%;
    z-index: 900;
  }

  #xuit {
    font-size: 20px;
    font-family: "Butcherman", "cursive";
    border-radius: 10px;
    color: yellow;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    margin-top: 20px;
  }
}

 